.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(60deg);
  }
}
/* styles.css */
.icon-container {
  border: none; /* Elimina el borde */
}
/* styles.css */
.nav-link-with-space {
  margin-right: 10px; /* Agrega un poco de espacio a la derecha de cada enlace */
}

.nav-link-with-space:hover {
  color: #ff0000; /* Cambia el color del texto al hacer hover sobre el enlace */
font-weight: bold;
}